<!doctype html>
<html style="height:100%">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}{% endblock %} - Poznajmy polskie zabytki</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav>
  <h2><a href="{{ url_for('views.index') }}">Poznajmy polskie zabytki</a></h2>
</nav>

<body style="height:100%">
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block header_ext %}{% endblock %}
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>

</html>
